@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* global reset values */
  * {
    @apply m-0 box-border p-0;
  }
  html {
    @apply overflow-x-hidden  focus-within:scroll-smooth ;
  }

  /* avoid vw or screen to reduce overflow */
  body {
    @apply w-full h-full max-w-[1600px] mx-auto;
  }
  ul,
  ol {
    @apply list-none;
  }
  a {
    @apply no-underline;
  }
  button,
  input {
    @apply outline-0;
  }
  img {
    @apply block max-w-full;
  }
  iframe {
    @apply border-0;
  }
}

@layer components {
  /* reuseable components */
}
@layer utilities {
  .font2{
    font-family: var(--font-dancingScript);
    font-weight: 200;
  }
  .mask{
    mask-image: linear-gradient(black,black),url(../public/assets/mask.svg);
    mask-composite: exclude;
    mask-repeat: no-repeat;
    /* mask-position: center center; */
  }
.overlay {
	
	filter: blur(0.5px) drop-shadow(0 0 0 #c9c7c7);
}




.overlay:after {
	content: '';
	position: absolute;
	width: 150%;
	height: 150%;
	top: 0;
	left: 0;
	opacity: 0.2;
	background-image: repeating-conic-gradient(black 0%, transparent 0.00003%, transparent 0.0005%, transparent 0.00095%), repeating-conic-gradient(black 0%, transparent 0.00005%, transparent 0.00015%, transparent 0.0009%);
	animation: grains 1s steps(1) infinite;
}

@keyframes  grains {
	0%, 100% {
		transform: translate(0,0);
	}
	10% {
		transform: translate(-1%, -1%);
	}
	20% {
		transform: translate(1%, 1%);
	}
	30% {
		transform: translate(-2%, -2%);
	}
	40% {
		transform: translate(3%, 3%);
	}
	50% {
		transform: translate(-3%, -3%);
	}
	60% {
		transform: translate(4%, 4%);
	}
	70% {
		transform: translate(-4%, -4%);
	}
	80% {
		transform: translate(2%, 2%);
	}
	90% {
		transform: translate(-3%, -3%);
	}
}
 


}